on fs
    setprop ro.product.model.display TA-1092
on fs
    setprop ro.product.locale ru_RU
    setprop ro.product.name Dynamo2_00RU
    setprop ro.russia.zzz_ver_append_str _RU
    setprop ro.build.version.base_os Nokia/Dynamo2_00RU/E2M:10/QKQ1.190828.002/00WW_4_11F:user/release-keys

on fs
	setprop ro.build.fingerprint Nokia/Dynamo2_00RU/E2M:10/QKQ1.190828.002/00WW_4_11I:user/release-keys
	setprop ro.system.build.fingerprint Nokia/Dynamo2_00RU/E2M:10/QKQ1.190828.002/00WW_4_11I:user/release-keys
	setprop ro.build.description "Dynamo2_00RU-user 10 QKQ1.190828.002 00WW_4_11I release-keys"
